#%RAML 1.0
baseUri: https://anypoint.mulesoft.com/mocking/api/v1/links/5a850b04-fc33-4b46-b8d8-3b18940122e5/ # 
version: v1
title: POC-Project

uses:
  dataType: library/dataTypesLib.raml

/getOrders:
  get:
    responses:
      200:
        body:
          application/json:
            example: !include Examples/orders.json
      404:
        body:
          application/xml:
            example: 
              message: 404 - Not found
  /{orderId}:
    get:
      responses:
        200:
          body:
            application/json:
              type: dataType.Order
              examples:
                output: !include Examples/order.json        
  post:
    body:
      application/json:
        type: dataType.Order
        examples:
          input: !include Examples/order.json
    responses:
      200:
        body:
          application/json:
            example:
              message: Order Added (but not really)
      500:
        body:
          application/json:
            example: 
              message: Internal Server Error  
  delete:
      responses:
        200:
          body:
            application/json:
              example:
                message: Order Deleted (but not really)
  put:
      body:
        application/json:
          examples:
           input: !include Examples/order.json
          
      responses:
        200:
          body:
            application/json:
              example:
                message: Order Updated (but not really)       
              
              

  